.formulario-actualizar {
    max-width: 500px;
    margin: 7rem auto 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-actualizar h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #333;
}

.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

.columna label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.columna input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    box-sizing: border-box;
}


.grupo-campos label{
    font-weight: bold;
    color: #555;
}

.grupo-campos input, .grupo-campos-usuario input{
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

.grupo-campos input:focus, grupo-campos-usuario input:focus {
    border-color: #007bff;
    outline: none;
}

.boton-container {
    text-align: center;
    margin-top: 2rem;
}

.boton-update{
    text-align: center;
    margin-top: 2rem;
}

.boton-container button{
    background-color: #8B0000;
  border: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.boton-container button:hover{
   background-color: #a30000;
}

/*ENLACE PARA UPDATE*/
.link-hidden{
    width: 550px;
    margin:  0 auto;
    font-size: 18px;
}

.linkUsuario{
    color: inherit;
    text-decoration: none;
}

.linkUsuario span{
    color: #a30000;
}


/*OVERLAY UPDATE USUARIO*/

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                                        
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

#overlay-update{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#menu-update {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 980px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  background-color: #3a3a3a; 
  border: 1px solid #8B0000;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(6px);
  display: none;
}

#menu-update h2 {
  margin-top: 0;
  color: #fff;
  border-bottom: 1px solid #8B0000;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

#menu-update button {
  background-color: #8B0000;
  border: none;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

#menu-update button:hover {
  background-color: #a80000;
}

.grupo-campos-usuario label{
    font-weight: bold;
    color: #f4f4f4;
}

.hidden-update {
    display: none;
}