body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2b2b;
    color: #f4f4f4;
}

/*header {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 20px 10px;
}*/


/*HEADER*/
header{
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 25px;
    transition: all 0.5s ease;
    z-index: 999;
    border-bottom: 1px solid #fff;
}

.nav.active{
    background: #8B0000;
    padding: 15px;
}
.nav.active .logo,
.nav.active a{
    color:#ffffff
}

.nav.active a:hover{
    background: #000;
    color: #fff;
}

.logo{
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}


/*PERFIL MENU */
.menu-perfil{
    list-style: none;
    position: relative;
}

.menu-perfil > li {
    position: relative;
}

.menu-perfil li a:hover{
    padding: 5px 10px;
    background: #e7e41a;
    color: #000;
    border-radius: 15px;
}

.enlace-perfil{
    color: #eafa0b;
    text-decoration: none;
    font-size: 22px;
}

/* SUBMENU - ADMINISTRADOR */
.submenu-items{
    list-style: none;
    padding: 0;
    margin: 0;
    background: #222;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 150px;
    min-height: 100px;
    display: none;
}

.submenu-items li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.submenu-items li a:hover{
    background: #e7e41a;
    color: #000;
}

.submenu:hover .submenu-items{
    display: block;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 10px;
}

menu li a{
    font-weight: bold;
}

.enlace {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

main {
    padding: 30px 10px;
}

h1, h2 {
    color: #f4f4f4;
    text-align: center;
}

.introduccion{
    display: flex;
    padding-top: 8rem;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 10rem;
}

.texto-portada{
    width: 30%;
}

.texto-portada h1{
    color: #9ea355f1;
    text-align: left;
    font-size: 30px;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 8rem;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.categoria-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}


.categoria h1{
    color: #9ea355f1;
    font-size: 30px;   
}

.fila {
    display: flex;
    justify-content: center; 
    gap: 80px;
    flex-wrap: wrap;
}

.operaciones {
    width: 220px;
    height: 100px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.operaciones h1 {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.operaciones a {
    text-decoration: none;
}

.operaciones:hover {
    background: #9ea355b6;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #1f1f1f;
    color: white;
    margin-top: 8rem;
}

/*ERROR RESULTADO*/

.resultado{
    color: #e06e03;
    padding-top: 2rem;
    text-align: center;
    font-weight: bold;
}
.admin{
    width: 300px;
    height: auto;
}

/*GESTIONAR - ADMIN*/

